DATABASE_URL="postgresql://neondb_owner:npg_O6o7YTsVqveP@ep-gentle-pond-admj1g4y-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BASE_URL="https://your-vercel-domain.vercel.app"
